html, body{
margin:0;
padding:0;
}
*, *:before, *:after{
box-sizing:border-box;
}
body{
background: url(../img/wood3.png) repeat;
overflow:hidden;
font-family: arial;
}
#iframe-container{
width:100%;
height:auto;
margin:0 auto;
/*transition*/
-webkit-transition:all 300ms ease-in-out;
   -moz-transition:all 300ms ease-in-out;
     -o-transition:all 300ms ease-in-out;
        transition:all 300ms ease-in-out;
overflow: hidden;

}
#iframe01{
margin:0 auto;
border:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
/*transition*/
-webkit-transition:all 0.5s ease-in-out 0s;
   -moz-transition:all 0.5s ease-in-out 0s;
     -o-transition:all 0.5s ease-in-out 0s;
        transition:all 0.5s ease-in-out 0s;
overflow-x:hidden;
/*box-shadow*/
-webkit-box-shadow:4px 4px 4px 1px #DEE0E3;
   -moz-box-shadow:4px 4px 4px 1px #DEE0E3;
        box-shadow:4px 4px 4px 1px #DEE0E3;
background: #fff;
}
#iframe-container.mobile{
width:320px;
height:554px;
/*border-radius*/
-webkit-border-radius:10px;
   -moz-border-radius:10px;
        border-radius:10px;
background:#dee0e3;
overflow:hidden;
position:relative;
border: 29px solid #343434;
border-top: 49px solid #343434 ;
border-bottom: 49px solid #343434 ;
top:140px;
/*box-shadow*/
-webkit-box-shadow:0px 0px 0px 2px #686868,0px 0px 5px 3px rgba(0,0,0,0.4);
   -moz-box-shadow:0px 0px 0px 2px #686868,0px 0px 5px 3px rgba(0,0,0,0.4);
           box-shadow:0px 0px 0px 2px #686868,0px 0px 10px 3px rgba(0,0,0,0.4);
}
#iframe-container.tablette{
width:858px;
height:658px;
/*border-radius*/
-webkit-border-radius:10px !important;
   -moz-border-radius:10px !important;
        border-radius:10px !important;
background:#dee0e3;
overflow-x:hidden;
position:relative;
border: 29px solid #343434;
top:140px;
/*box-shadow*/
-webkit-box-shadow:0px 0px 0px 2px #686868,0px 0px 5px 3px rgba(0,0,0,0.4);
   -moz-box-shadow:0px 0px 0px 2px #686868,0px 0px 5px 3px rgba(0,0,0,0.4);
           box-shadow:0px 0px 0px 2px #686868,0px 0px 10px 3px rgba(0,0,0,0.4);
}
#iframe-container.tPortrait{
width: 658px;
height:804px;
/*border-radius*/
-webkit-border-radius:10px;
   -moz-border-radius:10px;
        border-radius:10px;
background:#dee0e3;
overflow-x:hidden;
position:relative;
border: 29px solid #343434;
top:100px;
/*box-shadow*/
-webkit-box-shadow:0px 0px 0px 2px #686868,0px 0px 5px 3px rgba(0,0,0,0.4);
   -moz-box-shadow:0px 0px 0px 2px #686868,0px 0px 5px 3px rgba(0,0,0,0.4);
           box-shadow:0px 0px 0px 2px #686868,0px 0px 10px 3px rgba(0,0,0,0.4);
}
#iframe-container.mPaysage{
width:598px;
height:326px;
/*border-radius*/
-webkit-border-radius:10px;
   -moz-border-radius:10px;
        border-radius:10px;
background:#dee0e3;
overflow:hidden;
position:relative;
border: 29px solid #343434;
border-left: 49px solid #343434;
border-right: 49px solid #343434;
top:140px;
/*box-shadow*/
-webkit-box-shadow:0px 0px 0px 2px #686868,0px 0px 5px 3px rgba(0,0,0,0.4);
   -moz-box-shadow:0px 0px 0px 2px #686868,0px 0px 5px 3px rgba(0,0,0,0.4);
           box-shadow:0px 0px 0px 2px #686868,0px 0px 10px 3px rgba(0,0,0,0.4);
}
#iframe-container.mobile #iframe01{
margin-bottom:0px !important;
background:#bbb;
border:2px solid #f1f2f3;
width:100%;
height:490px;
top:2px;
left:2px;
z-index:9999999;
padding-bottom: 18px;
background: #fff;
}
#iframe-container.tablette #iframe01{
margin-bottom:0px !important;
background:#bbb;
border:2px solid #f1f2f3;
width:800px;
height:654px;
top:2px;
left:2px;
z-index:9999999;
padding-bottom: 54px;
background:#fff;
}
#iframe-container.tPortrait #iframe01{
margin-bottom:0px !important;
background:#bbb;
border:2px solid #f1f2f3;
width:600px;
height:800px;
top:2px;
left:2px;
z-index:9999999;
padding-bottom: 54px;
background: #fff;

}
#iframe-container.mPaysage #iframe01{
margin-bottom:0px !important;
background:#bbb;
border:2px solid #f1f2f3;
width:100%;
height:324px;
top:2px;
left:2px;
z-index:9999999;
padding-bottom: 54px;
background: #fff;
}

.top-menu-container form{
position: relative;
margin: 0 auto;
width: 100%;
margin: auto;
font-family:arial;

}
.top-menu-container form #zone-texte{
display: block;

margin: 0px auto;
width:100%;
border:2px solid #1abc9c;
background:#f1f7f7;
padding:10px 15px;
}

.top-menu-container form #zone-texte:hover, .top-menu-container form #zone-texte:focus{
	border-color: #343434
}

.top-menu-container form #zone-texte:focus{
background:#fff;
}

#validation{
	margin: 0px auto;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 27px;
	padding: 5px;
	border: 2px solid #fff;
	cursor: pointer;
	color: #343434;
	background: #fff;
	-webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
			-ms-transition: all 300ms ease-in-out;
				-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	}

#validation:hover{
	background: #1abc9c;
	color: #fff;
}

.top-menu-container form #submit-button{
float:right;
margin-top:-38px;
margin-right:-60px;
border:none;
background:#f1f7f7;
padding:10px 15px;
/*transition*/
-webkit-transition:all 300ms ease-in-out;
   -moz-transition:all 300ms ease-in-out;
     -o-transition:all 300ms ease-in-out;
        transition:all 300ms ease-in-out;
}
.top-menu-container form #submit-button:hover{
background:#2ecc71;
color:#fff;
}
nav{
width: 100%;
margin: 0px auto;
}
nav ul{
display: block;
list-style:none;
text-align: center;
padding: 0;
}

nav ul li{
float: left;
width: 60px;
height: 60px;
text-align: center;
padding: 0;
margin: 0;

}
nav ul li a{
display:block;
width: 60px;
height: 60px;
color:#343434;
font-family:arial;
text-decoration:none;
position: relative;
line-height: 60px;
/*transition*/
-webkit-transition:all 300ms ease-in-out;
   -moz-transition:all 300ms ease-in-out;
     -o-transition:all 300ms ease-in-out;
        transition:all 300ms ease-in-out;
border:2px solid #f1f2f3;
border-left: #fff;
}
nav ul li a.active, nav ul li a:hover{
color:#000;
border:2px solid #1abc9c;
}
/*Icons*/

#mobile::before{
display: block;
width:17px;
height:30px;
margin: auto;
content:'';
border:2px solid #343434;
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
margin-top: 13px;

}
#mPaysage::before{
width:30px;
height:17px;
content:'';
display: block;
margin: auto;
border:2px solid #343434;
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
margin-top:20px;
}

#tablette::before{
width:40px;
height:30px;
content:'';
display: block;
border:2px solid #343434;
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
margin: 0 auto;
margin-top: 13px
}

#tPortrait::before{
width:30px;
height:40px;
content:'';
display: block;
border:2px solid #343434;
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
margin: 0 auto;
margin-top: 7px;
}


#full::before{
width:40px;
height:30px;
content:'';
display: block;
border:2px solid #343434;
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
margin: 0 auto;
margin-top: 10px;

}

#full::after{
width:20px;
height:5px;
content:'';
display: block;
border:2px solid #343434;
margin: 0 auto;
}

.navlink{
	background: #fff;
}

.navlink::before{
/*transition*/
-webkit-transition:all 300ms ease-in-out;
   -moz-transition:all 300ms ease-in-out;
     -o-transition:all 300ms ease-in-out;
        transition:all 300ms ease-in-out;
}
.navlink:hover::before, .navlink.active::before, .navlink:hover::after, .navlink.active::after{
border:2px solid #1abc9c !important;
}

.navlink span{
	display: block;
	width: 160px;
	opacity: 1;
	position: absolute;
	top: 70px;
	left: 10px;
	margin: 5px;
	background: #1abc9c;
	color: #fff;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
	padding: 15px;
	display: none;
}

.navlink span::before{
	content:'';
	display: block;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1abc9c;
	position: absolute;
	top: -5px;
}
.close{
cursor: pointer;
width: 100px;
height: 100px;
position: absolute;
right: 10px;
top: -13px;
}
.close::before{
	content: '';
	width: 2px;
	height: 40px;
	background: #343434;
	position: absolute;
	right: 20px;
	top: 20px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.close::after{
	content: '';
	width: 2px;
	height: 40px;
	background: #343434;
	position: absolute;
	right: 20px;
	top: 20px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	
}

.top-menu-container{
	position: fixed;
	top: 10px; 
	left: 5px;
	width: 300px;
	height: 234px;
	z-index: 999999999;
	background: #1abc9c;
	-webkit-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.1);
	-ms-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.1);
	-o-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.1);
}

#menu-trigger{
	background: url(../img/logo.png) no-repeat 0px 5px;
	background-color: #1abc9c;
	color: #fff;
	padding: 1%;
	height: 60px;
	text-transform: uppercase;
	font-family: arial;
	text-align: center;
	line-height: 50px;
	
}

#menu-trigger2{
	background:#1abc9c;
	color: #fff;
	padding: 1%;
	height: 60px;
	width: 120px;
	text-transform: uppercase;
	font-family: arial;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
	position: fixed;
	top: 10px;
	left: 5px;
	z-index: 9999999999;
	display: none;
	-webkit-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.1);
	-ms-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.1);
	-o-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.1);
}

.sizelog{
	color: #fff;
	font-size: 72px;
	position: absolute;
	bottom: 10px;
	z-index: 99999999999;
}