@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);

*{
  -webkit-font-smoothing: antialiased;
}

body{
  background: #f7f8f9;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

.carte-groupe{

width:680px;
height:680px;
background:none repeat scroll 0% 0% #491139;
position:relative;
margin:5% auto;
  -webkit-box-shadow:5px 5px 20px 5px rgba(0,0,0,0.4);
   -moz-box-shadow:5px 5px 20px 5px rgba(0,0,0,0.4);
        box-shadow:5px 5px 20px 5px rgba(0,0,0,0.4);
overflow: hidden;
}

.carte{
width:680px;
height:680px;
background:url(../img/fond.png) repeat;
position: absolute;
top:0;
z-index: 2;

}

.perso-cabinet{
  position: absolute;
  top: 120%;
  left:0;
  right:0;
  width: 100%;
  background: url(../img/bg-papier.png) repeat;
  height: 82.35294117647059%;
  z-index: 99;
  text-align: center;
  font-family: arial;
  font-style: italic;
  padding-top: 17.64705882352941%;
  line-height: 30px;
  text-transform: none;
}

.text-bottom{
position:absolute;
bottom:70px;
left:40px;
font-weight:400;
font-size:20px;
}

.y2015{
color:#ccff00;
font-size:130px;
text-align:center;
position:absolute;
left:5%;
right:5%;
bottom:55%;
font-weight:100;
opacity:0;
display: block;
}

.y2015-bas{
color:#ccff00;
font-size:130px;
text-align:center;
position:absolute;
right:10px;
bottom:20px;
font-weight:100;
display: block;
}

.fdf{
width:80px;
height:80px;
background:none repeat scroll 0% 0% #1860AC;
position:absolute;
bottom:25%;
left:44%;
right:44%;
opacity:0;
}
.fdf-text{
font-size:14px;
text-transform:none;
font-weight:400;
width:60px;
margin:5px auto;
}
#loader-text{
font-size:36px;
font-weight:300;
position:absolute;
text-align:center;
display:block;
line-height:40px;
left:-100%;
top:35%;
}
.text-group-face1{
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
text-align:center;
}
.text-group-face1 > div{
text-align: center;
font-weight:300;
position: absolute;
left:0;
right:0;
}
.maj{
font-size:24px;
top: 75%;
}
.waitcomplete{
font-size:40px;
color:#ccff00;
position:absolute;
top: 80%;
}

.wait{
opacity:0;
font-size:30px;
color:#ccff00;
top: 80%;
}

.encours .wait{
font-size:30px;
color:#ccff00;
opacity:1;
}

.encours .waitcomplete{
opacity:0;
font-size:30px;
color:#ccff00;
}

.spinner-bars{
position:absolute;
width:35px;
height:35px;
left:50%;
bottom:55%;
}
.spinner-bars > div{
position:absolute;
width:7px;
height:60px;
background-color:#fff;
opacity:0.05;
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
}



/*Back*/

.carte-back{
  position: absolute;
  top: 100%;
  left:0;
  right:0;
  background: url(../img/fond.png) repeat;
  height: 100%;
  z-index: 100;
}

.fdf-container{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  bottom: 20%;
}

.fdf{
width:80px;
height:80px;
background:none repeat scroll 0% 0% #1860AC;
position:absolute;
color: #fff;
font-family: arial;
}
.fdf-text{
font-size:14px;
text-transform:none;
font-weight:400;
width:60px;
position: absolute;
left: 5px;
top: 5px;
}


.fdf-desc{
  text-transform: none;
  font-size: 14px;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
  position: relative;
  top:20px;
  left:0;
  right:0;
  font-family: arial;
  text-align: center;
}

.fdf-desc a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.fdf-desc a:hover{
  color: #1860AC;
}


.fdf-desc{
  text-transform: none;
  font-size: 14px;
  color: #ccff00;
  position: absolute;
  top:20px;
  left:0;
  right:0;
  text-align: center;
  opacity:0;
}

.fdf-desc a{
  color: #fff;
  text-decoration: none;
}

.fdf-desc a:hover{
  color: #ccff00;
}

.couleur-bas{
  background: #491139;
  position: absolute;
  left:0;
  right:0;
  /*top: 560px;*/
  bottom: -110%;
  height: 120px;
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2);
  z-index: 99;
 }

.perso-cabinet h3{
  font-size: 24px;
  color: rgba(0,0,0, 0.7);
  font-weight: bold;
  position: relative;
}

.perso-cabinet p{
color: rgba(0,0,0,0.5);
position: relative;
}

.perso-cabinet p strong{
  color: rgba(0,0,0,0.7);
  font-size: 16px;
  font-weight: bold;
}

.animated{
-webkit-animation:fadeit 3.6s linear 3.6s;
   -moz-animation:fadeit 3.6s linear 3.6s;
    -ms-animation:fadeit 3.6s linear 3.6s;
     -o-animation:fadeit 3.6s linear 3.6s;
        animation:fadeit 3.6s linear 3.6s;
}
.animated-over{
opacity:1 !important;
}
.spinner-bars > .bar-1{
-webkit-transform:rotate(0deg) translate(0, -110px);
   -moz-transform:rotate(0deg) translate(0, -110px);
    -ms-transform:rotate(0deg) translate(0, -110px);
     -o-transform:rotate(0deg) translate(0, -110px);
        transform:rotate(0deg) translate(0, -110px);
-webkit-animation-delay:0.1s;
   -moz-animation-delay:0.1s;
    -ms-animation-delay:0.1s;
     -o-animation-delay:0.1s;
        animation-delay:0.1s;
}
.spinner-bars > .bar-2{
-webkit-transform:rotate(10deg) translate(0, -110px);
   -moz-transform:rotate(10deg) translate(0, -110px);
    -ms-transform:rotate(10deg) translate(0, -110px);
     -o-transform:rotate(10deg) translate(0, -110px);
        transform:rotate(10deg) translate(0, -110px);
-webkit-animation-delay:0.2s;
   -moz-animation-delay:0.2s;
    -ms-animation-delay:0.2s;
     -o-animation-delay:0.2s;
        animation-delay:0.2s;
}
.spinner-bars > .bar-3{
-webkit-transform:rotate(20deg) translate(0, -110px);
   -moz-transform:rotate(20deg) translate(0, -110px);
    -ms-transform:rotate(20deg) translate(0, -110px);
     -o-transform:rotate(20deg) translate(0, -110px);
        transform:rotate(20deg) translate(0, -110px);
-webkit-animation-delay:0.3s;
   -moz-animation-delay:0.3s;
    -ms-animation-delay:0.3s;
     -o-animation-delay:0.3s;
        animation-delay:0.3s;
}
.spinner-bars > .bar-4{
-webkit-transform:rotate(30deg) translate(0, -110px);
   -moz-transform:rotate(30deg) translate(0, -110px);
    -ms-transform:rotate(30deg) translate(0, -110px);
     -o-transform:rotate(30deg) translate(0, -110px);
        transform:rotate(30deg) translate(0, -110px);
-webkit-animation-delay:0.4s;
   -moz-animation-delay:0.4s;
    -ms-animation-delay:0.4s;
     -o-animation-delay:0.4s;
        animation-delay:0.4s;
}
.spinner-bars > .bar-5{
-webkit-transform:rotate(40deg) translate(0, -110px);
   -moz-transform:rotate(40deg) translate(0, -110px);
    -ms-transform:rotate(40deg) translate(0, -110px);
     -o-transform:rotate(40deg) translate(0, -110px);
        transform:rotate(40deg) translate(0, -110px);
-webkit-animation-delay:0.5s;
   -moz-animation-delay:0.5s;
    -ms-animation-delay:0.5s;
     -o-animation-delay:0.5s;
        animation-delay:0.5s;
}
.spinner-bars > .bar-6{
-webkit-transform:rotate(50deg) translate(0, -110px);
   -moz-transform:rotate(50deg) translate(0, -110px);
    -ms-transform:rotate(50deg) translate(0, -110px);
     -o-transform:rotate(50deg) translate(0, -110px);
        transform:rotate(50deg) translate(0, -110px);
-webkit-animation-delay:0.6s;
   -moz-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
     -o-animation-delay:0.6s;
        animation-delay:0.6s;
}
.spinner-bars > .bar-7{
-webkit-transform:rotate(60deg) translate(0, -110px);
   -moz-transform:rotate(60deg) translate(0, -110px);
    -ms-transform:rotate(60deg) translate(0, -110px);
     -o-transform:rotate(60deg) translate(0, -110px);
        transform:rotate(60deg) translate(0, -110px);
-webkit-animation-delay:0.7s;
   -moz-animation-delay:0.7s;
    -ms-animation-delay:0.7s;
     -o-animation-delay:0.7s;
        animation-delay:0.7s;
}
.spinner-bars > .bar-8{
-webkit-transform:rotate(70deg) translate(0, -110px);
   -moz-transform:rotate(70deg) translate(0, -110px);
    -ms-transform:rotate(70deg) translate(0, -110px);
     -o-transform:rotate(70deg) translate(0, -110px);
        transform:rotate(70deg) translate(0, -110px);
-webkit-animation-delay:0.8s;
   -moz-animation-delay:0.8s;
    -ms-animation-delay:0.8s;
     -o-animation-delay:0.8s;
        animation-delay:0.8s;
}
.spinner-bars > .bar-9{
-webkit-transform:rotate(80deg) translate(0, -110px);
   -moz-transform:rotate(80deg) translate(0, -110px);
    -ms-transform:rotate(80deg) translate(0, -110px);
     -o-transform:rotate(80deg) translate(0, -110px);
        transform:rotate(80deg) translate(0, -110px);
-webkit-animation-delay:0.9s;
   -moz-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
     -o-animation-delay:0.9s;
        animation-delay:0.9s;
}
.spinner-bars > .bar-10{
-webkit-transform:rotate(90deg) translate(0, -110px);
   -moz-transform:rotate(90deg) translate(0, -110px);
    -ms-transform:rotate(90deg) translate(0, -110px);
     -o-transform:rotate(90deg) translate(0, -110px);
        transform:rotate(90deg) translate(0, -110px);
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
.spinner-bars > .bar-11{
-webkit-transform:rotate(100deg) translate(0, -110px);
   -moz-transform:rotate(100deg) translate(0, -110px);
    -ms-transform:rotate(100deg) translate(0, -110px);
     -o-transform:rotate(100deg) translate(0, -110px);
        transform:rotate(100deg) translate(0, -110px);
-webkit-animation-delay:1.1s;
   -moz-animation-delay:1.1s;
    -ms-animation-delay:1.1s;
     -o-animation-delay:1.1s;
        animation-delay:1.1s;
}
.spinner-bars > .bar-12{
-webkit-transform:rotate(110deg) translate(0, -110px);
   -moz-transform:rotate(110deg) translate(0, -110px);
    -ms-transform:rotate(110deg) translate(0, -110px);
     -o-transform:rotate(110deg) translate(0, -110px);
        transform:rotate(110deg) translate(0, -110px);
-webkit-animation-delay:1.2s;
   -moz-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
     -o-animation-delay:1.2s;
        animation-delay:1.2s;
}
.spinner-bars> .bar-13{
-webkit-transform:rotate(120deg) translate(0, -110px);
   -moz-transform:rotate(120deg) translate(0, -110px);
    -ms-transform:rotate(120deg) translate(0, -110px);
     -o-transform:rotate(120deg) translate(0, -110px);
        transform:rotate(120deg) translate(0, -110px);
-webkit-animation-delay:1.3s;
   -moz-animation-delay:1.3s;
    -ms-animation-delay:1.3s;
     -o-animation-delay:1.3s;
        animation-delay:1.3s;
}
.spinner-bars > .bar-14{
-webkit-transform:rotate(130deg) translate(0, -110px);
   -moz-transform:rotate(130deg) translate(0, -110px);
    -ms-transform:rotate(130deg) translate(0, -110px);
     -o-transform:rotate(130deg) translate(0, -110px);
        transform:rotate(130deg) translate(0, -110px);
-webkit-animation-delay:1.4s;
   -moz-animation-delay:1.4s;
    -ms-animation-delay:1.4s;
     -o-animation-delay:1.4s;
        animation-delay:1.4s;
}
.spinner-bars > .bar-15{
-webkit-transform:rotate(140deg) translate(0, -110px);
   -moz-transform:rotate(140deg) translate(0, -110px);
    -ms-transform:rotate(140deg) translate(0, -110px);
     -o-transform:rotate(140deg) translate(0, -110px);
        transform:rotate(140deg) translate(0, -110px);
-webkit-animation-delay:1.5s;
   -moz-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
     -o-animation-delay:1.5s;
        animation-delay:1.5s;
}
.spinner-bars> .bar-16{
-webkit-transform:rotate(150deg) translate(0, -110px);
   -moz-transform:rotate(150deg) translate(0, -110px);
    -ms-transform:rotate(150deg) translate(0, -110px);
     -o-transform:rotate(150deg) translate(0, -110px);
        transform:rotate(150deg) translate(0, -110px);
-webkit-animation-delay:1.6s;
   -moz-animation-delay:1.6s;
    -ms-animation-delay:1.6s;
     -o-animation-delay:1.6s;
        animation-delay:1.6s;
}
.spinner-bars> .bar-17{
-webkit-transform:rotate(160deg) translate(0, -110px);
   -moz-transform:rotate(160deg) translate(0, -110px);
    -ms-transform:rotate(160deg) translate(0, -110px);
     -o-transform:rotate(160deg) translate(0, -110px);
        transform:rotate(160deg) translate(0, -110px);
-webkit-animation-delay:1.7s;
   -moz-animation-delay:1.7s;
    -ms-animation-delay:1.7s;
     -o-animation-delay:1.7s;
        animation-delay:1.7s;
}
.spinner-bars> .bar-18{
-webkit-transform:rotate(170deg) translate(0, -110px);
   -moz-transform:rotate(170deg) translate(0, -110px);
    -ms-transform:rotate(170deg) translate(0, -110px);
     -o-transform:rotate(170deg) translate(0, -110px);
        transform:rotate(170deg) translate(0, -110px);
-webkit-animation-delay:1.8s;
   -moz-animation-delay:1.8s;
    -ms-animation-delay:1.8s;
     -o-animation-delay:1.8s;
        animation-delay:1.8s;
}
.spinner-bars> .bar-19{
-webkit-transform:rotate(180deg) translate(0, -110px);
   -moz-transform:rotate(180deg) translate(0, -110px);
    -ms-transform:rotate(180deg) translate(0, -110px);
     -o-transform:rotate(180deg) translate(0, -110px);
        transform:rotate(180deg) translate(0, -110px);
-webkit-animation-delay:1.9s;
   -moz-animation-delay:1.9s;
    -ms-animation-delay:1.9s;
     -o-animation-delay:1.9s;
        animation-delay:1.9s;
}
.spinner-bars> .bar-20{
-webkit-transform:rotate(190deg) translate(0, -110px);
   -moz-transform:rotate(190deg) translate(0, -110px);
    -ms-transform:rotate(190deg) translate(0, -110px);
     -o-transform:rotate(190deg) translate(0, -110px);
        transform:rotate(190deg) translate(0, -110px);
-webkit-animation-delay:2s;
   -moz-animation-delay:2s;
    -ms-animation-delay:2s;
     -o-animation-delay:2s;
        animation-delay:2s;
}
.spinner-bars> .bar-21{
-webkit-transform:rotate(200deg) translate(0, -110px);
   -moz-transform:rotate(200deg) translate(0, -110px);
    -ms-transform:rotate(200deg) translate(0, -110px);
     -o-transform:rotate(200deg) translate(0, -110px);
        transform:rotate(200deg) translate(0, -110px);
-webkit-animation-delay:2.1s;
   -moz-animation-delay:2.1s;
    -ms-animation-delay:2.1s;
     -o-animation-delay:2.1s;
        animation-delay:2.1s;
}
.spinner-bars> .bar-22{
-webkit-transform:rotate(210deg) translate(0, -110px);
   -moz-transform:rotate(210deg) translate(0, -110px);
    -ms-transform:rotate(210deg) translate(0, -110px);
     -o-transform:rotate(210deg) translate(0, -110px);
        transform:rotate(210deg) translate(0, -110px);
-webkit-animation-delay:2.2s;
   -moz-animation-delay:2.2s;
    -ms-animation-delay:2.2s;
     -o-animation-delay:2.2s;
        animation-delay:2.2s;
}
.spinner-bars> .bar-23{
-webkit-transform:rotate(220deg) translate(0, -110px);
   -moz-transform:rotate(220deg) translate(0, -110px);
    -ms-transform:rotate(220deg) translate(0, -110px);
     -o-transform:rotate(220deg) translate(0, -110px);
        transform:rotate(220deg) translate(0, -110px);
-webkit-animation-delay:2.3s;
   -moz-animation-delay:2.3s;
    -ms-animation-delay:2.3s;
     -o-animation-delay:2.3s;
        animation-delay:2.3s;
}
.spinner-bars> .bar-24{
-webkit-transform:rotate(230deg) translate(0, -110px);
   -moz-transform:rotate(230deg) translate(0, -110px);
    -ms-transform:rotate(230deg) translate(0, -110px);
     -o-transform:rotate(230deg) translate(0, -110px);
        transform:rotate(230deg) translate(0, -110px);
-webkit-animation-delay:2.4s;
   -moz-animation-delay:2.4s;
    -ms-animation-delay:2.4s;
     -o-animation-delay:2.4s;
        animation-delay:2.4s;
}
.spinner-bars> .bar-25{
-webkit-transform:rotate(240deg) translate(0, -110px);
   -moz-transform:rotate(240deg) translate(0, -110px);
    -ms-transform:rotate(240deg) translate(0, -110px);
     -o-transform:rotate(240deg) translate(0, -110px);
        transform:rotate(240deg) translate(0, -110px);
-webkit-animation-delay:2.5s;
   -moz-animation-delay:2.5s;
    -ms-animation-delay:2.5s;
     -o-animation-delay:2.5s;
        animation-delay:2.5s;
}
.spinner-bars> .bar-26{
-webkit-transform:rotate(250deg) translate(0, -110px);
   -moz-transform:rotate(250deg) translate(0, -110px);
    -ms-transform:rotate(250deg) translate(0, -110px);
     -o-transform:rotate(250deg) translate(0, -110px);
        transform:rotate(250deg) translate(0, -110px);
-webkit-animation-delay:2.6s;
   -moz-animation-delay:2.6s;
    -ms-animation-delay:2.6s;
     -o-animation-delay:2.6s;
        animation-delay:2.6s;
}
.spinner-bars> .bar-27{
-webkit-transform:rotate(260deg) translate(0, -110px);
   -moz-transform:rotate(260deg) translate(0, -110px);
    -ms-transform:rotate(260deg) translate(0, -110px);
     -o-transform:rotate(260deg) translate(0, -110px);
        transform:rotate(260deg) translate(0, -110px);
-webkit-animation-delay:2.7s;
   -moz-animation-delay:2.7s;
    -ms-animation-delay:2.7s;
     -o-animation-delay:2.7s;
        animation-delay:2.7s;
}
.spinner-bars> .bar-28{
-webkit-transform:rotate(270deg) translate(0, -110px);
   -moz-transform:rotate(270deg) translate(0, -110px);
    -ms-transform:rotate(270deg) translate(0, -110px);
     -o-transform:rotate(270deg) translate(0, -110px);
        transform:rotate(270deg) translate(0, -110px);
-webkit-animation-delay:2.8s;
   -moz-animation-delay:2.8s;
    -ms-animation-delay:2.8s;
     -o-animation-delay:2.8s;
        animation-delay:2.8s;
}
.spinner-bars> .bar-29{
-webkit-transform:rotate(280deg) translate(0, -110px);
   -moz-transform:rotate(280deg) translate(0, -110px);
    -ms-transform:rotate(280deg) translate(0, -110px);
     -o-transform:rotate(280deg) translate(0, -110px);
        transform:rotate(280deg) translate(0, -110px);
-webkit-animation-delay:2.9s;
   -moz-animation-delay:2.9s;
    -ms-animation-delay:2.9s;
     -o-animation-delay:2.9s;
        animation-delay:2.9s;
}
.spinner-bars> .bar-30{
-webkit-transform:rotate(290deg) translate(0, -110px);
   -moz-transform:rotate(290deg) translate(0, -110px);
    -ms-transform:rotate(290deg) translate(0, -110px);
     -o-transform:rotate(290deg) translate(0, -110px);
        transform:rotate(290deg) translate(0, -110px);
-webkit-animation-delay:3s;
   -moz-animation-delay:3s;
    -ms-animation-delay:3s;
     -o-animation-delay:3s;
        animation-delay:3s;
}
.spinner-bars> .bar-31{
-webkit-transform:rotate(300deg) translate(0, -110px);
   -moz-transform:rotate(300deg) translate(0, -110px);
    -ms-transform:rotate(300deg) translate(0, -110px);
     -o-transform:rotate(300deg) translate(0, -110px);
        transform:rotate(300deg) translate(0, -110px);
-webkit-animation-delay:3.1s;
   -moz-animation-delay:3.1s;
    -ms-animation-delay:3.1s;
     -o-animation-delay:3.1s;
        animation-delay:3.1s;
}
.spinner-bars> .bar-32{
-webkit-transform:rotate(310deg) translate(0, -110px);
   -moz-transform:rotate(310deg) translate(0, -110px);
    -ms-transform:rotate(310deg) translate(0, -110px);
     -o-transform:rotate(310deg) translate(0, -110px);
        transform:rotate(310deg) translate(0, -110px);
-webkit-animation-delay:3.2s;
   -moz-animation-delay:3.2s;
    -ms-animation-delay:3.2s;
     -o-animation-delay:3.2s;
        animation-delay:3.2s;
}
.spinner-bars> .bar-33{
-webkit-transform:rotate(320deg) translate(0, -110px);
   -moz-transform:rotate(320deg) translate(0, -110px);
    -ms-transform:rotate(320deg) translate(0, -110px);
     -o-transform:rotate(320deg) translate(0, -110px);
        transform:rotate(320deg) translate(0, -110px);
-webkit-animation-delay:3.3s;
   -moz-animation-delay:3.3s;
    -ms-animation-delay:3.3s;
     -o-animation-delay:3.3s;
        animation-delay:3.3s;
}
.spinner-bars> .bar-34{
-webkit-transform:rotate(330deg) translate(0, -110px);
   -moz-transform:rotate(330deg) translate(0, -110px);
    -ms-transform:rotate(330deg) translate(0, -110px);
     -o-transform:rotate(330deg) translate(0, -110px);
        transform:rotate(330deg) translate(0, -110px);
-webkit-animation-delay:3.4s;
   -moz-animation-delay:3.4s;
    -ms-animation-delay:3.4s;
     -o-animation-delay:3.4s;
        animation-delay:3.4s;
}
.spinner-bars> .bar-35{
-webkit-transform:rotate(340deg) translate(0, -110px);
   -moz-transform:rotate(340deg) translate(0, -110px);
    -ms-transform:rotate(340deg) translate(0, -110px);
     -o-transform:rotate(340deg) translate(0, -110px);
        transform:rotate(340deg) translate(0, -110px);
-webkit-animation-delay:3.5s;
   -moz-animation-delay:3.5s;
    -ms-animation-delay:3.5s;
     -o-animation-delay:3.5s;
        animation-delay:3.5s;
}
.spinner-bars> .bar-36{
-webkit-transform:rotate(350deg) translate(0, -110px);
   -moz-transform:rotate(350deg) translate(0, -110px);
    -ms-transform:rotate(350deg) translate(0, -110px);
     -o-transform:rotate(350deg) translate(0, -110px);
        transform:rotate(350deg) translate(0, -110px);
-webkit-animation-delay:3.6s;
   -moz-animation-delay:3.6s;
    -ms-animation-delay:3.6s;
     -o-animation-delay:3.6s;
        animation-delay:3.6s;
}

@-webkit-keyframes fadeit{
0%{ opacity:0.05; }
  50%{ opacity:1;}
  100%{ opacity:1;}
}


@keyframes fadeit{
0%{ opacity:0.05; }
  50%{ opacity:1;}
  100%{ opacity:1;}
}


@keyframes brille{
0%{ color: #ccff00; }
  50%{ color: #fff;}
  100%{ color: #ccff00;}
}


@media all and (max-width: 679px){

html, body{
  position: absolute;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.carte-wrapper{
  height: 100%;
}

.carte-groupe{

width: 100%;
height:100%;
background:none repeat scroll 0% 0% #491139;
position:relative;
margin: 0 auto;
  -webkit-box-shadow:5px 5px 20px 5px rgba(0,0,0,0.4);
   -moz-box-shadow:5px 5px 20px 5px rgba(0,0,0,0.4);
        box-shadow:5px 5px 20px 5px rgba(0,0,0,0.4);
overflow: hidden;
}

.carte{
width:100%;
height:100%;
background:none repeat scroll 0% 0% #491139;
position: absolute;
top:0;
z-index: 2;

}



}