@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);

*{
  -webkit-font-smoothing: antialiased;
}

.carte-wrapper{
  width: 680px;
  height: 680px;
  position: relative;
  margin: 5% auto;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.carte-bg{
  width: 680px;
  height: 680px;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  background: url(../img/fond.jpg) no-repeat center;
  overflow: hidden;
}

.carte{
  position: absolute;
  left: 0;
  right:0;
  bottom: 0;
  top:0;
  font-family: 'Amatic SC', cursive;
  color: #399491;
  z-index: 90;
}


.perso-cabinet{
  position: absolute;
  top: 120%;
  left:0;
  right:0;
  width: 100%;
  background: url(../img/bg-papier.png) repeat;
  height: 82.35294117647059%;
  z-index: 99;
  text-align: center;
  font-family: arial;
  font-style: italic;
  padding-top: 17.64705882352941%;
  line-height: 30px;
}

.couleur-bas{
  background: url(../img/fond.jpg) no-repeat center;
  position: absolute;
  left:0;
  right:0;
  /*top: 560px;*/
  bottom: -110%;
  height: 120px;
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2);
  z-index: 99;
 }


.y2015-bas{
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 285px;
  height: 101px;
  background: url(../img/2015-small.png) no-repeat center;
}

.blackstar-bas{
  width: 95px;
  height:101px;
  background: url(../img/etoile-annee-small.png) no-repeat center;
  position: relative;
  left: 72px;
  top: -4px;
}

.bras{
  width: 100%;
  height: 100%;
  background: url(../img/mains-etoile.png) no-repeat center;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;

 }

.stars{
  width: 100%;
  height: 100%;
  background: url(../img/etoiles.png) no-repeat center;
  position: absolute;
  opacity: 0.4;
}

.halo{
  width: 100%;
  height: 100%;
  background: url(../img/halo.png) no-repeat center;
  position: absolute;
}

.halo2{
  width: 100%;
  height: 100%;
  background: url(../img/halo.png) no-repeat center;
  position: absolute;
}

.cercle1{
  width: 100%;
  height: 100%;
  background: url(../img/cercle1.png) no-repeat center;
  position: absolute;
}

.cercle2{
  width: 100%;
  height: 100%;
  background: url(../img/cercle2.png) no-repeat center;
  position: absolute;
}


.big-2{
  width: 66px;
  height: 93px;
  position: absolute;
  background: url(../img/2-annee.png) no-repeat center;
  top: 17.3529%;
  left: 38.2353%;
  transform: rotate(10deg);
}


.big-1{
  width: 65px;
  height: 96px;
  position: absolute;
  background: url(../img/1-annee.png) no-repeat center;
  top: 47.5%;
  left: 51.76470588235294%;
  transform: rotate(15deg);
}


.big-5{
  width: 63px;
  height: 96px;
  position: absolute;
  background: url(../img/5-annee.png) no-repeat center;
  top: 51.47058823529412%;
  left: 59.55882352941176%;
  transform: rotate(20deg);
}


.citation{
  text-align: center;
  width: 450px;
  position: absolute;
  bottom: 14.70588235294118%;
  left: 16.17647058823529%;
  right: 16.17647058823529%;
  font-size: 3.5em;
}

.cit-1{
  letter-spacing: 1px;
}


.leonard{
  position: absolute;
  color: #fff;
  bottom: 5.882352941176471%;
  right: 5.882352941176471%;
  font-size: 20px;
}


.perso-cabinet h3{
  font-size: 24px;
  color: rgba(0,0,0, 0.7);
  font-weight: bold;
  position: relative;
}

.perso-cabinet p{
color: rgba(0,0,0,0.5);
position: relative;
}

.perso-cabinet p strong{
  color: rgba(0,0,0,0.7);
  font-size: 16px;
  font-weight: bold;
}

/*Back*/

.carte-back{
  position: absolute;
  top: 100%;
  left:0;
  right:0;
  background: url(../img/fond.jpg) no-repeat center;
  height: 100%;
  z-index: 100;
  background-size: cover;
}

.y2015-back{
  position: absolute;
  left: 29%;
  right: 29%;
  top: 29.41176470588235%;
  width: 285px;
  height: 101px;
  background: url(../img/2015-small.png) no-repeat center;
}


.fdf-container{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 440px;
}

.fdf{
width:80px;
height:80px;
background:none repeat scroll 0% 0% #1860AC;
position:relative;
margin: auto;
color: #fff;
font-family: arial;
}
.fdf-text{
font-size:14px;
text-transform:none;
font-weight:400;
width:60px;
position: absolute;
left: 5px;
top: 5px;
}


.fdf-desc{
  text-transform: none;
  font-size: 14px;
  color: #104781;
  position: relative;
  top:20px;
  left:0;
  right:0;
  font-family: arial;
  text-align: center;
}

.fdf-desc a{
  color: #104781;
  text-decoration: none;
  font-weight: bold;
}

.fdf-desc a:hover{
  color: #000;
}

/**/


/*ARROWS*/

/*.arrow{
  width: 60px;
  height: 60px;
  position: absolute;
  top: 45%;
  z-index: 99999;
}

.arrow:before{
  content: '';
  width: 1px;
  height: 30px;
  background: #63413b;
  position: absolute;
}

.arrow:after{
  content: '';
  width: 1px;
  height: 30px;
  background: #63413b;
  position: absolute;
}

.arrow.ar-left{
  left:0;
}

.arrow.ar-right{
  right:0;
}

.arrow.ar-left:hover, .arrow.ar-right:hover{
 
}

.arrow.ar-left:before{
  transform: rotate(45deg);
  left: 25px;
  top: 5px;
}

.arrow.ar-left:after{
  transform: rotate(-45deg);
  left: 25px;
  top: 25px;
}

.arrow.ar-right:before{
  transform: rotate(-45deg);
  right: 25px;
  top: 5px;
}

.arrow.ar-right:after{
  transform: rotate(45deg);
  right: 25px;
  top: 25px;
}

*/
/*******/

/*BOUTONS*/

.restart-btn, .reverse-btn, .pause-btn, .play-btn{
border: 2px solid #4a9894;
color: #4a9894;
background: transparent;
position: absolute;
left: 5px;
padding: 15px 40px;
cursor: pointer;
border-radius: 5px;
width: 200px;
transition: all 300ms ease;
}

.restart-btn:hover, .reverse-btn:hover{
  border-color: #54d6d2;
  color: #54d6d2;
}

.restart-btn{
  bottom: 10px;
}

.reverse-btn{
  bottom: 100px;
}

.pause-btn{
  bottom: 200px;
}
.play-btn{
  bottom: 300px;
}

/*VERSION MOBILE*/

@media all and (max-width:679px){

html, body{
  position: absolute;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  min-width: 280px;
}

button{
  display: none;
}

.carte-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.carte-bg{
  background-size: cover;
  width: 100%;
  height: 100%;
}

.citation{
  width: auto;
  left: 5%;
  right:5%;
}

.y2015-back{
  position: absolute;
  left: 0;
  right: 0;
  top: 29.41176470588235%;
}

}


@media all and (max-width:500px){

.citation{
  font-size: 2.8em;
}

}


@media all and (max-width:400px){

.citation{
  font-size: 2.4em;
}


}

@media all and (max-width:380px){

.citation{
  font-size: 2em;
}

.perso-cabinet{

padding-top: 10px;
line-height: 20px;

}

}


