*{
  -webkit-font-smoothing: antialiased;
  margin:0;
  padding:0;
}
/*CSS de base des cartes de voeux*/
.carte-wrapper{
  width: 680px;
  height: 680px;
  position: relative;
  margin: 3% auto;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.carte-bg{
  width: 680px;
  height: 680px;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  background: url(../img/fond.jpg) no-repeat center;
  overflow: hidden;
}

.carte{
  position: absolute;
  left: 0;
  right:0;
  bottom: 0;
  top:0;
  font-family: 'Amatic SC', cursive;
  color: #4c3931;
  z-index: 90;
}


.perso-cabinet, .perso-cabinet2{
  position: absolute;
  top: 120%;
  left:0;
  right:0;
  width: 100%;
  background: #fff;
  height: 82.35294117647059%;
  z-index: 99;
  text-align: center;
  font-family: arial;
  font-style: italic;
  padding-top: 17.64705882352941%;
  line-height: 30px;
  text-transform: none;
}

.perso-cabinet2 h4, .perso-cabinet2 p{
  color: #343434;
  font-style: normal;
}

.perso-cabinet2{
  z-index: 101;
  padding-top: 10%;
}
.perso-cabinet2 h4{
  font-weight: bold;
}

.couleur-bas, .couleur-bas2{
  background: url(../img/fond.jpg) no-repeat center;
  position: absolute;
  left:0;
  right:0;
  /*top: 560px;*/
  bottom: -110%;
  height: 120px;
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2);
  z-index: 99;
 }

.couleur-bas2{
  z-index: 102;
  overflow: hidden;
}


img{
  max-width:100%;
  height: auto;
}

.perso-cabinet h3{
  font-size: 24px;
  color: rgba(0,0,0, 0.7);
  font-weight: bold;
  position: relative;
}

.perso-cabinet p{
color: rgba(0,0,0,0.5);
position: relative;
}

.perso-cabinet p strong{
  color: rgba(0,0,0,0.7);
  font-size: 16px;
  font-weight: bold;
}

/*Back*/

.carte-back{
  position: absolute;
  top: 100%;
  left:0;
  right:0;
  background: url(../img/fond.jpg) no-repeat center;
  height: 100%;
  z-index: 100;
  background-size: cover;
}

.fdf-container{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 440px;
}

.fdf{
width:80px;
height:80px;
background:none repeat scroll 0% 0% #1860AC;
position:relative;
margin: auto;
color: #fff;
font-family: arial;
}
.fdf-text{
font-size:14px;
text-transform:none;
font-weight:400;
width:60px;
position: absolute;
left: 5px;
top: 5px;
}


.fdf-desc{
  text-transform: none;
  font-size: 14px;
  color: #b5522c;
  position: relative;
  top:20px;
  left:0;
  right:0;
  font-family: arial;
  text-align: center;
  overflow: hidden;
}

.fdf-desc a{
  color: #000;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.fdf-desc a:hover{
  color: #b5522c;
}

.logo-cabinet, .logo-cabinbet2{
  max-width: 380px;
  margin: auto;
  margin-top: 10%;
  position: relative;
  opacity:0;
}

.logo-cabinet2{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 240px;
}

.logo-cabinet img, .logo-cabinet2 img{
  max-width: 100%;
  height: auto;
}



/*BOUTONS*/

.restart-btn, .reverse-btn, .pause-btn, .play-btn{
border: 2px solid #4a9894;
color: #4a9894;
background: transparent;
position: absolute;
left: 5px;
padding: 15px 40px;
cursor: pointer;
border-radius: 5px;
width: 200px;
transition: all 300ms ease;
}

.restart-btn:hover, .reverse-btn:hover{
  border-color: #54d6d2;
  color: #54d6d2;
}

.restart-btn{
  bottom: 10px;
}

.reverse-btn{
  bottom: 100px;
}

.pause-btn{
  bottom: 200px;
}
.play-btn{
  bottom: 300px;
}

/******************************************Le menu de choix des couleurs*/
.controls{
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #eee;
  text-align: center;
  z-index: 1000;
}

.colorspot, .colmenu, .colreplay{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  border: 4px solid transparent;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.colclose{
  width:40px;
  height:40px;
  float: right;
  margin:10px;
  margin-top: 15px;
  position: relative;
  cursor: pointer;
  background: url(../img/icon-close.svg) no-repeat center;
  background-size: cover;
}

.colreplay{
  background: url(../img/icon-replay.svg) no-repeat center;
  background-color: #bbb;
  background-size: cover;
  margin-left: 50px; /*Juste pour cette carte , car sinon la croix pour fermer le menu décale l'icone replay*/
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.colreplay:hover{
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  background-color: #343434;
}


/*************************************************************************************FIN DU CSS DE BASE DES CARTES DE VOEUX*/

/***********************************************************************************************************CSS CARTE AVION*/

.citation{
  font-size: 40px;
  position: absolute;
  top: 5%;
  left:0;
  right:0;
  text-align: center;
}

.st-ex{
  position: absolute;
  top: 15%;
  left:0;
  right:13.5%;
  font-family: 'Over the Rainbow', cursive;
  text-align: right;
  font-size: 16px;
  color: #8e3510;
}

.aviateur{
  width: 81.17647058823529%;
  height: 74.11764705882354%;
  position: absolute;
  right:0;
  bottom:0;
}

.aviateur img{
  position: absolute;
  bottom:0;
  right:0;
}

.votre-expert{
  position: absolute;
  left: 0;
  bottom: -40px;
  font-family: 'episoderegular';
  font-size: 30px;
  color: #fff;
  width: 200px;
}

.expert-text{
  display: block;
  text-align: right;
}

.votre-expert .y2015{
  font-size: 80px;
  float: right;
  position: relative;
  top: -70px;
  left: 90px;
}


/*Face 2*/

.avion, .avion2{
  width: 200px;
  height: 200px;
  position: relative;
  top: -60px;
  left: 5%;
  -moz-animation: 2s flotte infinite linear;
  -webkit-animation: 2s flotte infinite linear;
  -ms-animation: 2s flotte infinite linear;
  -o-animation: 2s flotte infinite linear;
  animation: 2s flotte infinite linear;
  z-index: 400;
}

.helice{
position: absolute;
width: 38%;
height: 38%;
top: 50%;
left: 50%;
margin-left: -16.5%;
margin-top: -22%;
-moz-animation: 0.1s tourne infinite linear;
-webkit-animation: 0.1s tourne infinite linear;
-ms-animation: 0.1s tourne infinite linear;
-o-animation: 0.1s tourne infinite linear;
animation: 0.1s tourne infinite linear;
}

@-webkit-keyframes flotte{
  0%{transform: translateY(0)}
  50%{transform: translateY(-15px);}
  100%{transform: translateY(0px);}
}

@-moz-keyframes flotte{
  0%{transform: translateY(0)}
  50%{transform: translateY(-15px);}
  100%{transform: translateY(0px);}
}

@-ms-keyframes flotte{
  0%{transform: translateY(0)}
  50%{transform: translateY(-15px);}
  100%{transform: translateY(0px);}
}

@-o-keyframes flotte{
  0%{transform: translateY(0)}
  50%{transform: translateY(-15px);}
  100%{transform: translateY(0px);}
}

@keyframes flotte{
  0%{transform: translateY(0)}
  50%{transform: translateY(-15px);}
  100%{transform: translateY(0px);}
}


@-webkit-keyframes tourne{
  from{transform: rotate(0)}
  to{transform: rotate(360deg);}
}

@-moz-keyframes tourne{
  from{transform: rotate(0)}
  to{transform: rotate(360deg);}
}

@-ms-keyframes tourne{
  from{transform: rotate(0)}
  to{transform: rotate(360deg);}
}

@-o-keyframes tourne{
  from{transform: rotate(0)}
  to{transform: rotate(360deg);}
}

@keyframes tourne{
  from{transform: rotate(0)}
  to{transform: rotate(360deg);}
}


.couleur-bas .votre-expert{
  right: 20%;
  left: auto;
  bottom: -40px;
}

/*FACE 3*/

.avion2{
  top: 10%;
  left: 50%;
}

/***********************************************************************************************FIN DU CSS DE LA CARTE AVION*/

/*VERSION MOBILE*/

@media all and (max-width: 820px){
.carte-wrapper{
width:580px;
height:580px;
margin: 20px auto;
margin-bottom: 10px;
}


.fdf-container{
top: auto;
bottom: 10%;
}


}

@media all and (max-width:679px){

html, body{
  position: absolute;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  min-width: 280px;
}

button{
  display: none;
}

.carte-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.carte-bg{
  background-size: cover;
  width: 100%;
  height: 100%;
}

.fdf-desc{
  padding-left: 10px;
  padding-right: 10px;
}

}

/***********************************************************************/


@media all and (max-width:380px){

.perso-cabinet{

padding-top: 20px;
line-height: 20px;

}

.st-ex{
  font-size: 12px;
}

}


@media all and (max-width:240px){
  .carte-wrapper{
    max-width: 240px;
  }
}

@media all and (max-height:620px){
.fdf-container{
top: auto;
bottom: 5%;
}

}


@media all and (max-height:470px){
.perso-cabinet p{
  line-height: 20px;
}


}


