// extends theme's variables.less file here
body.page_main_pratique .content_quizz{
  text-align:center
}

@colorCouleur3: #f26125;

/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

@commercialFont: 'Open Sans', sans-serif;

@baseFontSize: 14px;
@baseFontFamily: @commercialFont;
@baseLineHeight: 20px;
@altFontFamily: @commercialFont;

@headingsFontFamily: @commercialFont;
@headingsFontWeight: normal;
@headingsColor: inherit;*/